.modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  background: rgba(1,1,1, 0.2);;
  border: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: rgba(1,1,1, 0.3);
  
  img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    margin: 15px;
  }

  span {
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 20px;
    color: #ffff;
  }
}